https://beautiful-soup-4.readthedocs.io/en/latest/#

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\cse\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\cse\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
URL = "https://www.financialexpress.com/market/"

#ERROR: You don't have permission to access "http://www.financialexpress.com/market/" on this server.
header = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36',
}

In [ ]:
# print(soup.prettify())

In [53]:
headlines = []
headlines_links = []
def download_page(URL):
    global page, soup
    page = requests.get(URL, headers=header)
    soup = BeautifulSoup(page.content, 'html.parser')

def fetch_text_and_href():
    global soup,headlines,headlines_links
    h2_tags = soup.find_all('h2', class_="entry-title")
    # print(len(h2_tags))

    # Iterate over each <h2> tag
    
    for h2_tag in h2_tags:
        # Find all <a> tags inside the current <h2> tag
        a_tags = h2_tag.find_all('a')
        # Iterate over each <a> tag
        for a_tag in a_tags:
            # Extract and print the href attribute of each <a> tag
            href = a_tag.get('href')
            # print("Text:", a_tag.text.strip())
            headlines.append(a_tag.text.strip())
            # print("Href:", href)
            headlines_links.append(href.strip())

In [54]:
download_page(URL)
fetch_text_and_href()
for i in range(2,100):
    URL = "https://www.financialexpress.com/market/page/{pageno}/".format(pageno=i)
    download_page(URL)
    fetch_text_and_href()

In [57]:
for i in range(101,500):
    URL = "https://www.financialexpress.com/market/page/{pageno}/".format(pageno=i)
    download_page(URL)
    fetch_text_and_href()
    print(i)

101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499

In [109]:
# len(headlines_links)
headlines_links[0]

'https://www.financialexpress.com/market/tech-companies-gear-up-to-kick-start-earnings-a-look-at-how-it-stocks-performed-in-q4nbsp-3454823/'

In [3]:
import pandas as pd

# Read CSV file into DataFrame
df = pd.read_csv('headlines.csv')

# Display the DataFrame
print(df.head(2))
headlines_links = df['link']

   Unnamed: 0                                          Headlines  \
0           0  Tech companies gear up to kick-start earnings-...
1           1  Nifty momentum to continue in short-term says ...

                                                link
0  https://www.financialexpress.com/market/tech-c...
1  https://www.financialexpress.com/market/cafein...

In [20]:
len(headlines_links)

10957

In [6]:
df_output = pd.read_csv('output.csv')
df_output.head(2)

   Unnamed: 0                                        Description
0           0  InformationTechnology companies are all set to...
1           1  Nifty remains in a short term uptrend and has ...

In [18]:
len(concatenated_df)

2000

In [17]:
concatenated_df = pd.concat([df_output, df_new], ignore_index=True)

In [19]:
concatenated_df.to_csv("output_2.csv", index=True)

In [13]:
df_output.drop(columns=['Unnamed: 0'], inplace=True)

In [14]:
# Create a dictionary with column names as keys and lists as values
data = {'Description': text_news}

# Convert the dictionary to a DataFrame
df_new = pd.DataFrame(data)

In [16]:
len(df_new)

1000

In [44]:
print(10633+136)

10769

In [59]:
#4855
#7250
#7713
#10632
#missing 7714 to 10631
text_news = []
for index,link in enumerate(headlines_links[7248:7249]):
    # download_page(link)
    page = requests.get(link, headers=header)
    soup = BeautifulSoup(page.content, 'html.parser')
    full_text = ""
    parent_div = soup.find('div', id='pcl-full-content')  # Replace 'parent-class' with the actual class name of the parent <div>
    # print(parent_div)
    # Find all child <p> tags of the parent <div>
    child_p_tags = parent_div.find_all('p')
    
    # Extract and print the text content of each <p> tag
#     for p_tag in child_p_tags:
#         #print(p_tag.text.strip())
#         full_text += p_tag.text.strip()
    full_text = ' '.join([p_tag.text.strip() for p_tag in child_p_tags])
    text_news.append(full_text)
    print(index)

0
1
2

In [30]:
len(headlines_links)

10957

In [22]:
len(text_news)

2855

In [138]:
import pandas as pd

# Sample lists


# Create a dictionary with column names as keys and lists as values
data = {'Headlines': headlines,'link': headlines_links}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

                                               Headlines  \
0      Tech companies gear up to kick-start earnings-...
1      Nifty momentum to continue in short-term says ...
2      Bharti Hexacom sees bumper listing at 32% prem...
3      Big Fundraising- Vodafone Idea FPO worth Rs 18...
4      Stock Market LIVE: Sensex, Nifty at day’s low!...
...                                                  ...
10952  Petrol, Diesel Price Today, 5 September 2022: ...
10953  Nifty may head to 18300 this month, support at...
10954  Nifty to see buying above 17800, use Iron Butt...
10955  Tamilnad Mercantile Bank Rs 860-crore IPO open...
10956  Nifty would resume upmove only above 17700, tr...

                                                    link
0      https://www.financialexpress.com/market/tech-c...
1      https://www.financialexpress.com/market/cafein...
2      https://www.financialexpress.com/market/bharti...
3      https://www.financialexpress.com/market/big-fu...
4      https://www.financialexpress.com/market/share-...
...                                                  ...
10952  https://www.financialexpress.com/market/commod...
10953  https://www.financialexpress.com/market/cafein...
10954  https://www.financialexpress.com/market/cafein...
10955  https://www.financialexpress.com/market/ipo-ne...
10956  https://www.financialexpress.com/market/cafein...

[10957 rows x 2 columns]

In [141]:
import pandas as pd


# Convert DataFrame to CSV file
df.to_csv('headlines.csv', index=True)

In [55]:


import pandas as pd

# Sample lists


# Create a dictionary with column names as keys and lists as values
data = { 'Description': text_news}

# Convert the dictionary to a DataFrame
df_desc = pd.DataFrame(data)

# Print the DataFrame
# print(df_desc)

In [56]:
import pandas as pd


# Convert DataFrame to CSV file
df_desc.to_csv('output_10631.csv', index=True)

In [122]:
import panel as pn
#import param
from Utils import upld_file
pn.extension()

ModuleNotFoundError: No module named 'Utils'

In [ ]:
upld_widget = upld_file()
pn.Row(upld_widget.widget_file_upload)

In [121]:
!pip install Utils

Requirement already satisfied: Utils in c:\users\cse\anaconda3\lib\site-packages (1.0.2)

In [130]:
text_news[499]

'Wall Street followed world shares higher on Wednesday and the benchmark U.S. Treasury yield dipped to a one month low after Federal Reserve Chair Jerome Powell provided assurances that while inflation is not quite tamed rate cuts can be expected this year.All three major U.S. stock indexes gained out of the gate in a rebound from Tuesday’s steep sell-off. The tech-heavy Nasdaq was enjoying the most robust gain.U.S. Federal Reserve Chair Jerome Powell said before the House of Representatives Financial Services Committee that “if the economy evolves broadly as expected,” the central bank can be expected to cut its policy rate this year, but added that continued progress against inflation “was not assured.”Powell is set to wrap up his two-day testimony when he appears before the Senate Banking Committee on Thursday.“The chairman has been consistent at least in some of the last couple meetings and the fact that Powell has reiterated that they will cut rates later this year,” said Chris Zaccarelli, chief investment officer.“The markets went from expecting a lot of rate cuts to just starting to worry about whether or not the Fed was going to cut at all this year, and the fact that they were saying that they still want to cut I think, on balance, is good news for markets,” Zaccarelli added.Labor market data released ahead of Friday’s February employment report showed job openings dipped in the first weeks of 2024 and private employers added fewer than expected workers to their payrolls in February.A softening U.S. labor market has been identified by Powell as a precondition for bringing inflation down to the Fed’s 2% annual target.The Dow Jones Industrial Average rose 179.83 points, or 0.47%, to 38,765.02, the S&P 500 gained 25.27 points, or 0.50%, to 5,103.92 and the Nasdaq Composite added 68.42 points, or 0.43%, to 16,008.00.European shares, modestly higher before Powell’s prepared opening remarks were released, extended their gains on assurances that central bank policy easing remains on the table this year.The pan-European STOXX 600 index rose 0.41% and MSCI’s gauge of stocks across the globe gained 0.58%.Emerging market stocks rose 0.72%. MSCI’s broadest index of Asia-Pacific shares outside Japan closed 0.77% higher, while Japan’s Nikkei lost 0.02%.Bitcoin, which touched and then backed away from an all-time high on Tuesday, resumed its climb.The cryptocurrency was last up 4.5% at $66,160.The dollar softened against a basket of world currencies.The dollar index fell 0.29%, with the euro up 0.31% to $1.0889.The Japanese yen strengthened 0.50% versus the greenback at 149.31 per dollar, while Sterling was last trading at $1.2725, up 0.17% on the day.Treasury yields touched session lows after Powell warned that the battle against inflation continues, but he expects to reduce the key Fed funds target rate this year.Benchmark 10-year notes last rose 10/32 in price to yield 4.0981%, from 4.137% late on Tuesday.The 30-year bond last rose 12/32 in price to yield 4.2526%, from 4.274% late on Tuesday.Oil prices rebounded amid supply tightness and ongoing output cuts among major producers.U.S. crude rose 2.15% to $79.83 per barrel and Brent was last at $83.24, up 1.46% on the day.Gold continued to drift higher after the safe-haven metal set a record high on Tuesday.Spot gold added 0.7% to $2,142.59 an ounce.'

In [ ]:
import pandas as pd

# Sample lists
# df1 = pd.read_csv('output.csv')

df2 = pd.read_csv('output_2.csv')

df3 = pd.read_csv('output_4855.csv')

df4 = pd.read_csv('output_6000.csv')

df5 = pd.read_csv('output_7249.csv')

df6 = pd.read_csv('output_7712.csv') 

df7 = pd.read_csv('output_10631.csv')

df8 = pd.read_csv('output_10769.csv')

df9 = pd.read_csv('output_10957.csv')

In [ ]:
news_article_df = pd.concat([df2, df3, df4, df5, df6, df7, df8, df9], axis=0)

In [ ]:
news_article_df = news_article_df.reset_index(drop=True)

In [ ]:
news_article_df.to_csv('news_article_final.csv')